.canvasdysplay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../images/pexels-nietjuh-2343170.jpg);
    background-size: cover;
    z-index: 1;
}

#canvasGoOver {
    display: none;
    position: absolute;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../images/istockphoto-1172810020-1024x1024.jpg);
    background-size: cover;
    cursor: pointer;
    z-index: 2;
}